#logIn {
    display: flex;
    flex-direction: column;
    align-items: center;

    #inputs {
        margin-top: 50px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    #logInBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
}



