#signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    #inputs {
        width: 25%;
        margin-top: 50px;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    #signUpBtn {
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
    .link {
        margin-right: 50px;
    }
}